on:
  - push
  - pull_request

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0

      - name: Install dependencies
        run: npm install

      - name: Check
        run: npm run check

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test -- --coverage

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/coverage-final.json
